.blue,
.orange,
.white {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  text-align: center;
  min-width: 100%;
  cursor: pointer;
}

.blue h3,
.orange h3,
.white h3 {
  font-size: 18px;
  margin: 7px 9px 9px 9px;
}

.orange {
  background-color: var(--orange);
}

.white {
  background-color: var(--white);
  color: var(--blue);
}

.ModalBody {
  border: 2px solid var(--blue);
  margin: auto auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 98;
  border-radius: 16px;
  background-color: white;
  width: 80vw;
  overflow: scroll;
  max-height: 80vh;
  animation: modal-fade-in 0.2s ease-in-out;
}

.ModalContent {
  z-index: 99;
  max-height: 100%;
  margin: 20px;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 500px) {
  .blue h1,
  .orange h1,
  .white h1 {
    font-size: 20px;
    margin: 5px 20px 10px 20px;
  }
}

@media screen and (min-width: 750px) {
  .blue h1,
  .orange h1,
  .white h1 {
    font-size: 24px;
    margin: 5px 30px 10px 30px;
  }
  .ModalBody {
    overflow: hidden;
  }
}
