:root {
  --orange: #ff9101;
  --blue: #004658;
  --overlay: rgba(0, 70, 88, 0.75);
  --white: #ffffff;
  --gray: #f2f2f2;
  --black: #252525;
  --wrapper: 1200px;
  --rounded1: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: "Segoe UI", sans-serif;
  font-variant: small-caps;
  text-transform: capitalize;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}