.hero_section {
  padding: 50px 20px; /* Add padding for space around the component */
  background-color: var(--gray); /* Optional: Add background color for visibility */
}

.overlay {
  position: relative;
  height: 300px; /* Adjust as needed */
  background-color: var(--overlay); /* Optional: Add background color for visibility */
}

.hero_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: center;
}
