.nav {
  width: 100%;
  background: var(--blue);
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px;
}

.navFlex {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: none;
  position: absolute;
  background-color: var(--blue);
  width: 100%;
  right: 0;
  top: 60px;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.links.open {
  display: flex;
}

.menuButton {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
}

.link {
  text-decoration: none;
  color: white;
}

.listWrapper {
  display: flex;
  align-items: center;
}

.desktopNav {
  display: none;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mobileNav {
  display: block;
}

@media (min-width: 768px) {
  .links {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }

  .menuButton {
    display: none;
  }

  .desktopNav {
    display: block;
  }

  .mobileNav {
    display: none;
  }
}