.navContainer {
  display: none;
  width: 100%;
  background: var(--primary-color);
  justify-content: center;
  position: relative;
}

.nav {
  width: 100%;
  max-width: var(--wrapper);
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  background: var(--primary-color);
}

.mobileNav {
  display: block;
  width: 100%;
  background: var(--primary-color);
  position: relative;
}

.navFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: calc(100% - 2rem);
  max-width: calc(var(--wrapper) - 2rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  height: 3rem;
  margin-left: -1rem;
}

.logo img {
  height: 100%;
}

.listWrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.links {
  display: none;
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.links.open {
  display: flex;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  text-align: left;
  width: 100%;
  padding: 1rem;
}

.menuButton {
  font-size: 1.5rem;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .mobileNav {
    display: none;
  }

  .navContainer {
    display: flex;
  }

  .links {
    display: flex;
    position: static;
    flex-direction: row;
    gap: 1rem;
    background: none;
    margin-left: auto;
    padding-right: 1rem;
  }

  .link {
    width: auto;
    padding: 0.5rem;
  }
}