.wrapper {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
}

.inactiveTab {
  display: none;
}
.content {
  margin: 10px 5%;
  background-color: #f2f2f2;
  border-radius: 26px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.inc {
  margin: 0;
  padding: 0;
}
.tabBar {
  display: flex;
  justify-content: center;
}
.priceWrap .tabBar button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: calc(100% / 3 - 5%);
  text-align: center;
  background: var(--white);

  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.priceWrap .tabBar button:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.priceWrap .tabBar button:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.priceWrap .tabBar button:hover,
.priceWrap .tabBar button.activeTabButton {
  background: var(--blue);
  color: var(--white);
}

.priceWrap .content .inactiveTab:hover {
  background: var(--white);
}

@media screen and (min-width: 800px) {
  .content {
    background-color: transparent;
    flex-direction: row;
  }
  .cards {
    border-top: 0px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    width: 25%;
    height: 350px;
    position: relative;
    border-radius: 26px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .priceBox {
    border-top: 2px solid black;
    border-right: 0px solid black;
    border-bottom: 0px;
    border-left: 0px solid black;
    padding-left: 10px;
    text-align: left;
    font-variant: small-caps;
    text-transform: capitalize;
    font-family: "Segoe UI", sans-serif;
    background-color: var(--blue);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    margin: 0;
    border-radius: 26px 26px 0 0;
    width: 100%;
  }

  .price {
    margin-bottom: -20px;
    box-sizing: border-box;

    color: #fff;
  }

  .inc {
    list-style-type: none;
  }
  .smallText {
    color: #fff;
  }

  .textBox {
    padding: 0;
    box-sizing: border-box;
    height: calc(100% - 100px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
  }

  .cards .CTA {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: auto;
  }
}
