.prices_section {
    padding: 50px 20px;
    background-color: var(--white);
    color: var(--black);
  }
  
  .prices_container {
    max-width: var(--wrapper);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .price {
    background-color: var(--gray);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }