.nav {
    width: 100%;
    background: var(--blue);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays above other content */
    padding: 10px 20px; /* Add padding for better spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
  }
  
  .logo {
    height: 50px; /* Adjust as needed */
  }
  
  .navFlex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menuButton {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--white);
  }